@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 100px;
    font-style: normal;
    background-image: url(img/4922141.jpg);
}

.card{
    background: rgb(242, 238, 238);
    width: 300px;
    height: 520px;
    margin: 20px 20px 20px 20px;
    box-shadow: 2px 10px 15px #000;
    border-radius: 10px;
    padding: 0 0 30px;
    display: inline-block;

}
.img{
    width: 100%;
    display: block;
    object-fit: contain;
    height: 340px;
    border-radius: 10px 10px 0 0;

}

.contenedor{
    width: 90%;
    margin: 0 auto;
    max-width: 1110px;


}

.titulo{
    color: gold;
    margin: 10px 0;
    font-size: 24px;
    text-align: center;

}

.texto{
    padding: 0 20px 20px;
    font-size: 16px;
    text-align: center;

}

.boton{
    width: 100px;
  color: white;
  background: rgb(79, 72, 74);
  display: block;
  padding: 13px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 0 0 0 18px;

}