@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --fondo:url(img/fcb35fc65a3188f2ee006e57a4183e92.png);
  --sombra:#000;
  --titulo:#ffd901df;
  --boton:#6d6bdc;
  --color-text-boton:#ffffff;
  --card:radial-gradient(#2992e7f9, #f54bef);
  --font-text:15px;
  --font-tit:24px;
  --alin:center;
}
body{
    margin: 0 auto;
    background-size: cover;
    font-size: var(--font-text);
    font-family: "Roboto", sans-serif;
    font-weight: 100px;
    font-style: normal;
    background-image: var(--fondo);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

.card{
    background: var(--card);
    width: 300px;
    height: 520px;
    margin: 20px 20px 20px 20px;
    box-shadow: 2px 10px 15px var(--sombra);
    border-radius: 10px;
    padding: 0 0 30px;
    display: inline-block;
}
.img{
    width: 100%;
    display: block;
    object-fit: contain;
    height: 300px;
    border-radius: 10px 10px 0 0;
    filter: drop-shadow(0px -10px 10px );
    padding-top: 20px;
}

.contenedor{
    width: 90%;
    margin: 0 auto;
    max-width: 1110px;
    background-size: cover;
}

.titulo{
    color: var(--titulo);
    margin: 10px 0;
    font-size: 24px;
    text-align: var(--alin);

}

.texto{
    padding: 0 20px 20px;
    font-size: var(--font-text);
    text-align: var(--alin);

}

.boton{
  width: 100px;
  color: var(--color-boton);
  background:var(--boton);
  display: block;
  padding: 13px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 0 0 0 18px;

}